<mat-card>
  <mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
                <mat-form-field>
                        <input matInput name="email" ngModel placeholder="E-mail" type="email" #emailInput="ngModel" required email>
                        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
                </mat-form-field>
                <mat-form-field>
                        <input matInput name="username" ngModel placeholder="User Name" type="text" #usernameInput="ngModel" required>
                        <mat-error *ngIf="usernameInput.invalid">Please enter a username.</mat-error>
                </mat-form-field>
                <mat-form-field>
			<input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
                        <mat-error *ngIf="passwordInput.invalid">Please enter a valid passwordt</mat-error>
                </mat-form-field>
                <mat-form-field>
                        <input matInput name="birthdate" ngModel placeholder="Birth Date" type="date" #birthdateInput="ngModel" required>
                        <mat-error *ngIf="birthdateInput.invalid">Please enter a valid birth date</mat-error>
                </mat-form-field>
                <button
                        mat-raised-button
                        color="primary"
                        type="submit">Signup</button>
        </form>
</mat-card>

